<footer class="-m-auto -border-top -em-08 -lineheight-1-3 footer -text-left">
  <em class="-clearfix -text-center lastpublished -em-07">Last Published {{ dateFormat "Monday, Jan 2, 2006" now }}</em>
  <a href="https://gitlab.com/grownetics/open-plant-project">GitLab</a>
</footer>